
<section class="forms">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display">Pejabat Penilai</h1>
        </header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <a class="btn btn-primary" href="/Account/Register">
                            Tambah Pejabat Penilai
                        </a>
                    </div>
                    <div class="card-block">
                        <!--TabelKK-->
                        <table class="table">
                            <thead class="thead-default">
                                <tr>
                                    <th>
                                        #
                                    </th>

                                    <th>
                                        IdPegawai
                                    </th>
                                    <th>
                                        Nama
                                    </th>

                                    <th>
                                        Golongan
                                    </th>
                                    <th>
                                        Jabatan
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in Pejabats | filter:Search">
                                    <td>
                                        {{$index+1}}
                                    </td>
                                    <td>
                                        {{item.Pegawai.IdPegawai}}
                                    </td>
                                    <td>
                                        {{item.Pegawai.Nama}}
                                    </td>
                                    <td>
                                        {{item.Pegawai.PangkatGolonganTerakhir}}
                                    </td>
                                    <td>
                                        {{item.Pegawai.JabatanAkhir}}
                                    </td>
                                  

                                    <td>
                                        <div class="dropdown">
                                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-cog"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="btn btn-default" ng-click="Delete(item)" role="button" data-toggle="modal">
                                                        <i style="color:black" class="fa fa-remove fa-fw" aria-hidden="true"> Delete</i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="modal fade" id="modal-container-UbahKK" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    ×
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Ubah Pejabat Penilai
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form role="form">
                                                <div class="form-group">
                                                    <select class="form-control" ng-model="model.Pegawai" ng-options="y for (x, y) in Pegawais">
                                                        <option>Pilih Pegawai</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" placeholder="Nama" ng-model="model.Email" class="form-control">
                                                </div>
                                               
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-warning" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="Save(model)">
                                    Save changes
                                </button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

</section>
