
@{
    ViewBag.Title = "Android";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<h2>Android</h2>
<center><h1><a class="btn btn-primary"  href="/Home/Download">Download Android App Link 1</a> </h1></center>


<h2>Android</h2>
<center><h1><a class="btn btn-primary" href="https://drive.google.com/file/d/0ByKCz9ssNbkseXMtd0RoTEVqeW8/view?usp=sharing">Download Android App Link 2</a> </h1></center>

