
@{
    ViewBag.Title = "Android";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<h2>Android</h2>
<center><h1><a class="btn btn-primary"  href="/Home/Download">Download Android Aapp</a> </h1></center>

